/* Estilos generales */
body {
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Encabezado */
header {
    background-color: #8d140b;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}

/* Navegación */
nav {
    background-color: #152d46;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Cambio de color al pasar el mouse*/
nav a:hover {
    color: #ffe600;
}

.indice {
    text-decoration: none;
    color: #152d46;
    font-weight: bold;
  }
  
  .indice:hover {
    background-color: #ffe600;
  }

  .tema{
    text-decoration: none;
    color: #e74c3c;
    font-weight: bold;
  }

/* Contenido principal */
main {
    padding: 3rem;
}

/* Secciones */
section {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: #b7ebff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 1rem;
}

section h3 {
    color: #e74c3c;
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

section p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* Imágenes */
section img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section img2 {
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img.formula {
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img.matriz {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Lista de ejemplos */
section ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 1.5rem;
}

section ul li {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #2c3e50;
    color: #fff;
}

/* Boton */
.fcc-btn {
    background-color: #8d140b;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  .fcc-btn:hover {
    background-color: #152d46;
  }
